$white: #ffffff;
$grey: #333333;
$black: #000000;
$mainColor: #3a9bdc;
$secondaryColor: #27ae60;
$thirdColor: #34495e;
$mainTransitionColor: #2078b2;
$secondaryTransitionColor: #1b7741;
$thirdTransitionColor: #1c2732;
